<h2>Apps</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |app|}}
    <tr>
      <td>{{#link-to "app" app}}{{app.name}}{{/link-to}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{link-to "New" "apps.new" class="btn"}}
{{outlet}}
