{{#dialog-box}}
  <span class="title"><img src="assets/images/logo.png" alt="bounc.io" height="104"/></span>
  <div class="content">
    {{login-form}}
    Don't have an account yet? {{link-to "Get one" 'register'}}
    {{yield}}
  </div>
{{/dialog-box}}
