<div class="dialog">
  <span class="title"><img src="assets/images/logo.png" alt="bounc.io" height="104"/></span>
  <div class="content">
    {{register-form user=model}}
    {{link-to "<- Login" 'login'}}
  </div>
</div>
